<div class="brand-logos-track">
    {% for i in (1..4) %}
    <img src="/assets/img/zara.png" alt="Zara" height="25" class="brand-logo">
    <img src="/assets/img/massimo.png" alt="Massimo Dutti" height="25" class="brand-logo">
    <img src="/assets/img/GOTRENDIER.svg" alt="GoTrendier" height="25" class="brand-logo">
    <img src="/assets/img/PLATANOMELON.svg" alt="PlatanoMelon" height="25" class="brand-logo">
    <img src="/assets/img/oysho.png" alt="Oysho" height="25" class="brand-logo">
    <img src="/assets/img/lefties.svg" alt="Lefties" height="25" class="brand-logo">
    <img src="/assets/img/prixz.png" alt="Prixz" height="25" class="brand-logo">
    {% endfor %}
</div>
