<div class="brand-logos-track">
    {% for i in (1..4) %}
    <img src="/assets/img/zara.webp" alt="Zara" height="25" width="55" class="brand-logo">
    <img src="/assets/img/massimo.webp" alt="Massimo Dutti" height="25" width="167" class="brand-logo">
    <img src="/assets/img/GOTRENDIER.svg" alt="GoTrendier" height="25" width="97" class="brand-logo">
    <img src="/assets/img/PLATANOMELON.svg" alt="PlatanoMelon" height="25" width="147" class="brand-logo">
    <img src="/assets/img/oysho.webp" alt="Oysho" height="25" width="84" class="brand-logo">
    <img src="/assets/img/lefties.svg" alt="Lefties" height="25" width="107" class="brand-logo">
    <img src="/assets/img/prixz.webp" alt="Prixz" height="25" width="77" class="brand-logo">
    <img src="/assets/img/piki.png" alt="Piki" height="25" width="97" class="brand-logo">
    {% endfor %}
</div>
