<div class="brand-logos-track">
    {% for i in (1..4) %}
    <img src="/assets/img/GOTRENDIER.svg" alt="GoTrendier" height="25" width="97" class="brand-logo">
    <img src="/assets/img/PLATANOMELON.svg" alt="PlatanoMelon" height="25" width="147" class="brand-logo">
    <img src="/assets/img/prixz.webp" alt="Prixz" height="25" width="77" class="brand-logo">
    <img src="/assets/img/piki.png" alt="Piki" height="25" width="97" class="brand-logo">
    <img src="/assets/img/rintin.png" alt="Rintin" height="25" width="82" class="brand-logo">
    <img src="/assets/img/vestua.png" alt="Vestua" height="25" width="102" class="brand-logo">
    <img src="/assets/img/lolapay.svg" alt="LoLaPay" height="25" width="88" class="brand-logo">
    <img src="/assets/img/planetaenvios.svg" alt="PlanetaEnvíos" height="25" width="190" class="brand-logo">
    {% endfor %}
</div>
