<footer class="bg-primary text-white text-center py-4">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center gap-2">
            <img src="/assets/img/logo-isotipo-verde 2.svg" alt="Pin" height="40">
            <a href="/condiciones" class="text-white fs-7 fw-bold link-underline link-underline-opacity-0">Términos y Condiciones</a>
            <a href="/privacidad" class="text-white fs-7 fw-bold link-underline link-underline-opacity-0">Política de privacidad</a>
            <span class="text-white-50 fs-7">© PuntoPost</span>
        </div>
    </div>
</footer>
