<footer class="bg-primary text-white text-center py-4">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center gap-2 fs-7 mb-2">
            <a href="/condiciones" class="text-white text-decoration-none fw-bold">Términos y Condiciones</a>
            <span class="opacity-75">|</span>
            <a href="/privacidad" class="text-white text-decoration-none fw-bold">Política de privacidad</a>
        </div>
        <div class="d-flex justify-content-center align-items-center gap-2 text-white opacity-75 fs-7">
            <img src="/assets/img/logo-isotipo-verde 2.svg" alt="Pin" height="20">
            <span>© PuntoPost</span>
        </div>
    </div>
</footer>
