<nav class="navbar navbar-dark{{ include.extra_class }}">
    <div class="{{ include.container_class | default: 'container-fluid' }}">
        <a class="navbar-brand{{ include.brand_class }}" href="/">
            <img src="/assets/img/logo-puntopost-amarillo.webp" alt="PuntoPost Logo" style="height: 52px;">
        </a>

        <div class="d-none d-lg-flex gap-5 align-items-center">
            <a href="/integrations" class="nav-link text-white fw-bold fs-5">Integraciones</a>
            <a href="/map" class="nav-link text-white fw-bold fs-5">Mapa de puntos</a>
            <a href="/atrae" class="nav-link text-white fw-bold fs-5">Quiero ser punto</a>
            <a href="/envia" class="btn btn-yellow rounded-pill fw-bold fs-5 px-4 py-2 text-dark border-0">Envía con PuntoPost</a>
        </div>

        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Abrir menú">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <img src="/assets/img/puntopost2.svg" alt="PuntoPost" class="offcanvas-title" id="offcanvasNavbarLabel" style="height: 36px;">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-0">
                <div class="px-3 py-4">
                    <a href="/integrations" class="nav-link text-dark fs-5 py-3 d-block text-decoration-none fw-bold">Integraciones</a>
                    <hr class="my-0">
                    <a href="/map" class="nav-link text-dark fs-5 py-3 d-block text-decoration-none fw-bold">Mapa de puntos</a>
                    <hr class="my-0">
                    <a href="/atrae" class="nav-link text-dark fs-5 py-3 d-block text-decoration-none fw-bold">Quiero ser punto</a>
                    <hr class="my-0">
                    <a href="/envia" class="btn btn-yellow rounded-pill fw-bold fs-5 px-4 py-2 text-dark border-0 d-block text-center text-decoration-none mt-2">Envía con PuntoPost</a>
                </div>
            </div>
        </div>
    </div>
</nav>
