.brand-logos-track {
    display: flex;
    align-items: center;
    width: max-content;
    animation: scroll-logos 20s linear infinite;
}

.brand-logo {
    flex-shrink: 0;
    margin-right: 3rem;
}

@keyframes scroll-logos {
    to {
        transform: translateX(-25%);
    }
}

@media (min-width: 992px) {
    .brand-logo {
        height: 32px;
    }

    .ecommerce-logos {
        column-gap: 4rem;
        row-gap: 4rem;
    }

    .ecommerce-logos-row {
        flex: 1 1 0;
        width: 100%;
        justify-content: space-between;
    }

    .ecom-logo {
        height: 48px;
    }

    .ecom-logo-api {
        height: 64px;
    }
}
